h1{
    background-color: blue;
    color: ghostwhite;
    height: 150px;text-align: center;
    width:100%
    t
    


}
p{
    background-color: rgb(206, 104, 56);
    text-align: center;
    size: adjust 20px; 
    color: rgb(255, 255, 255);
}